<!DOCTYPE html>
<html>
    <head>
        <title>Email Template Generator</title>
        <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="css/appstyles.css" />
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    </head>
    <body>
        <header class="header" style="background-color: gray;">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="content">
                        <a href="#" class="brand">Logo</a>
                        <ul class="nav">
                            <li class="active"><a href="#what">What?</a></li>
                            <li><a href="#why">Why?</a></li>
                            <li><a href="#how">How?</a></li>
                            <li><a href="#who">Who?</a></li>
                            <li><a href="#app">Ok!, let's do this</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <section class="container">
            <div class="row">
                <div id="left-title" class="span4">
                    <h1 style="display:table-cell;vertical-align:middle;">
                        {% block lefttitle %}

                        {% endblock %}
                    </h1>
                </div>

                <div id="right-content" class="span8">
                    {% block rightcontent %}

                    {% endblock %}
                </div>
            </div>
        </section>
        <footer>
            <div class="footer">
                <p align="center">This is and will be free and open source software.
                Feel free to fork me on GitHub</p>
            </div>
        </footer>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#left-title').height($('#right-content').height());
            });
        </script>
    </body>
</html>
