{% extends "layout.html" %}

{% block left-title %}
    What's this?
{% endblock %}

{% block right-content %}
    <p>Oh!. Hi!, and welcome!, this is simply a personalized email html template generator</p>

    <p>Yes, i know, but don't get too excited about this, this thing doesn't generate the html
    for you, it just fills it with data. Does your company has a lot of employees, only one designer
    and a very busy development team?, well, don't waste their time generating hundreds of html signatures,
    just make them generate a Jinja2 html template and we can do the rest for you.</p>

    <p>Sounds pretty cool huh?, well, it is and it just works.</p>
{% endblock %}
